:root {
  --header-height: 54.5px;
  --base-color: #151515;
  --secondary-color: #757575;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "BJCree", serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
