:root {
  --header-height: 50px;
  --base-color: #000000;
}
body {
  font-family: "BJCree", serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
