:root {
  --header-height: 38px;
  --base-color: #272626;
}
body {
  background-color: rgb(129, 30, 30);
  font-family: "BJCree", serif;
}
* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
