header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  max-height: var(--header-height);
  align-items: center;
  padding: 8px 16px;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}
nav {
  height: 100%;
}

ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
